*{
    margin: 0;
    padding: 0;
}
h1{
    margin-top: 10vh;
    text-align: center;
}


#cube .front{
    transform: translateZ(100px);
}
#cube .bottom{
    transform: 
    rotateX(-90deg)
    translateZ(100px);
}
#cube .top{
    transform: 
    rotateX(90deg)
    translateZ(100px);
}
#cube .left{
    transform: rotateY(-90deg)
    translateZ(100px);
}
#cube .right{
    transform: rotateY(90deg)
    translateZ(100px);
}
#cube .back{
    transform: translateZ(-100px)
    rotateX(-180deg);
}
#cube div{
    background: hsla(0, 4%, 23%, 0.8);
    width: 200px;
    height: 200px;
    position: absolute;
    border: 1px solid black;
}
#cube:hover{
    transform:
    rotateY(760deg)
    rotateX(500deg);
}
.container{
    position: relative;
    margin: 100px auto 40px 300px;
    width: 200px;
    top: 100px;
    height: 200px;
    perspective: 1000px;
    perspective-origin: center;
}

#cube{
    width: 100%;
    height: 100%;
    position: absolute;
    transform-style: preserve-3d;
    transition: transform 3s;
}
.dot {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: block;
    position: absolute;
    background: white;
}

.front .dot1{top: 85px; left: 85px;}
.back .dot1{top: 50px; left: 60px;}
.back .dot2{top: 90px; left: 60px;}
.back .dot3{top: 130px; left: 60px;}
.back .dot4{top: 50px; left: 110px;}
.back .dot5{top: 90px; left: 110px;}
.back .dot6{top: 130px; left: 110px;}
.left .dot1{top: 40px; left: 50px;}
.left .dot2{top: 130px; left: 50px;}
.left .dot3{top: 40px; left: 120px;}
.left .dot4{top: 130px; left: 120px;}
.right .dot1{top: 40px; left: 50px;}
.right .dot2{top: 80px; left: 90px;}
.right .dot3{top: 120px; left: 130px;}
.top .dot1{top: 40px; left: 50px;}
.top .dot2{top: 120px; left: 130px;}
.bottom .dot1{top: 40px; left: 50px;}
.bottom .dot2{top: 130px; left: 50px;}
.bottom .dot3{top: 40px; left: 120px;}
.bottom .dot4{top: 130px; left: 120px;}
.bottom .dot5{top: 85px; left: 85px;}