*{
    margin-top: 0px;
    padding: 0;
}
body{
    background: url(wp2727708-black-and-green-wallpaper.jpg);
    filter: opacity(100px);
    background-repeat: no-repeat;
    background-size: cover;
}
.cube .front{
    transform: translateZ(100px);
}
.cube .bottom{
    transform: 
    rotateX(-90deg)
    translateZ(100px);
}
.cube .top{
    transform: 
    rotateX(90deg)
    translateZ(100px);
}
.cube .left{
    transform: rotateY(-90deg)
    translateZ(100px);
}
.cube .right{
    transform: rotateY(90deg)
    translateZ(100px);
}
.cube .back{
    transform: translateZ(-100px)
    rotateX(-180deg);
}
.cube div{
    background: hsla(0, 4%, 23%, 0.8);
    width: 200px;
    height: 200px;
    position: absolute;
    border: 1px solid black;
}
.container{
    position: relative;
    margin: 100px auto 40px 300px;
    width: 200px;
    top: 100px;
    height: 200px;
    perspective: 1000px;
    perspective-origin: center;
}

.cube{
    width: 100%;
    height: 100%;
    position: absolute;
    transform-style: preserve-3d;
    transition: transform 3s;
}

.dot {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: block;
    position: absolute;
    background: rgba(54, 236, 63,1);
}

.front .dot1{top: 85px; left: 85px;}
.back .dot1{top: 45px; left: 45px;}
.back .dot2{top: 45px; left: 85px;}
.back .dot3{top: 45px; left: 125px;}
.back .dot4{top: 125px; left: 45px;}
.back .dot5{top: 125px; left: 85px;}
.back .dot6{top: 125px; left: 125px;}
.left .dot1{top: 40px; left: 50px;}
.left .dot2{top: 130px; left: 50px;}
.left .dot3{top: 40px; left: 120px;}
.left .dot4{top: 130px; left: 120px;}
.right .dot1{top: 40px; left: 50px;}
.right .dot2{top: 80px; left: 90px;}
.right .dot3{top: 120px; left: 130px;}
.top .dot1{top: 40px; left: 50px;}
.top .dot2{top: 120px; left: 130px;}
.bottom .dot1{top: 45px; left: 45px;}
.bottom .dot2{top: 45px; left: 125px;}
.bottom .dot3{top: 85px; left: 85px;}
.bottom .dot4{top: 125px; left: 45px;}
.bottom .dot5{top: 125px; left: 125px;}

#container1{
    position: absolute;
    left:-5vw;
}
#container2{
    position: absolute;
    left: 35vw;
}
.roll_dice{
    text-decoration: none;
    position: absolute;
    top: 300px;
    left: 30px;
    width: 150px;
    height: 50px;
    background-color: rgba(54, 236, 63,0.5);
    border:1px solid hsla(0, 4%, 23%, 0.8);
    font-size: 20px;
}
.roll_dice:hover{
    box-shadow: inset 0px 0px 15px 12px rgba(54, 236, 63,0.5);
}
#main-container{
    position: absolute;
    width: 80vw;
    height: 80vh;
    top: 10%;
    left: 10%;
    background-color: hsla(0, 4%, 23%, 0.8);
    background: url(1188236.jpg);
    opacity: 0.9;
    background-size: cover;
}
.half-part{
    position: absolute;
    width: 50%;
    height: 100%;
}
#left-half{
    /* background-color: rgba(54, 236, 63,0.1); */
}
#right-half{
    left: 50%;
    background-color: rgba(54, 236, 63,0.1);
}
.score-board{
    display: grid;
    position: relative;
    width: 100%;
    height: 20%;
    top: -60%;
    text-align: center;
    align-items: center;
    background-color: hsla(0, 4%, 23%, 0.4);
    color: rgba(54, 236, 63);
}

.score{
    display: grid;
    align-items: center;
    position: absolute;
    top: 230px;
    width: 200px;
    height: 50px;
    border: 1px solid black;
    color: white;
    font-weight: 700;
    font-size: 30px;
    text-align: center;
}

@media only screen and (max-width: 1000px) {
  #container1{
    position: relative;
}
#container2{
    position: relative;
    top: 28%;
    left: -5%;
}
#main-container{
    position: absolute;
    width: 98vw;
    height: 250vh;
    top: 0%;
    left: 0%;
    background-color: hsla(0, 4%, 23%, 0.8);
    background: url(1188236.jpg);
    opacity: 0.9;
    background-size: 100% 100%;
}
.container{
    position: relative;
    margin: 150px 0 0 35vw;
    width: 200px;
    top: 50px;
    height: 200px;
    perspective: 1000px;
    perspective-origin: center;
}
.half-part{
    position: absolute;
    width: 100%;
    height: 50%;
}
#left-half{
    /* background-color: rgba(54, 236, 63,0.1); */
}
#right-half{
    left: 0%;
    top: 50%;
    background-color: rgba(54, 236, 63,0.1);
}
body{
    background: none;
    background-repeat: no-repeat;
    background-size: cover;
}
}